*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

input[type="date"]{
   background: url(/img/Vector-dg.png);
   background-size: 15px;
   background-repeat: no-repeat;
   background-position: 90%;
   padding: 5px;
   background-color: #FFFFFF;
}
::-webkit-calendar-picker-indicator{
   opacity: 0;
    cursor: pointer;
}

.card-body {
    height: 46vh;
    border-radius: 0%;
}

.Availability-search {
    background-color:  #F4F4F4;
}

.short-input {
  padding-top: 37px;
}



@media only screen and (max-width: 375px) {
    .Availability-search {
        background-color: #FFFFFF;
    }
    .date {
    width: 100%;
  }
  .text {
    text-align: start;
  }
  .purple-btn {
    text-align: end;
  }

  .room-image img {
    border-radius: 5px 5px 0 0;
  }
  .card-body {
    height: 34vh;
    background-color: #F4F4F4;
  }
  .book-now {
    padding-top: 5px;
  }
  .form-input-one {
    padding-right: 110px;
  }
  .btn {
    width: 100%;
  }
}
@media only screen and (width: 425px) {
  .Availability-search {
        background-color: #FFFFFF;
    }
    .date {
    width: 100%;
  }
  .text {
    text-align: start;
  }
  .purple-btn {
    text-align: end;
  }

  /* .room-image img {
    border-radius: 5px 5px 0 0;
  } */
  .card-body {
    height: 30vh;
    background-color: #F4F4F4;
  }
  .book-now {
    padding-top: 5px;
  }
  .form-input-one {
    padding-right: 110px;
  }
  .btn {
    width: 100%;
  }
}

@media only screen and (width: 768px) {
    .room-image {
        width: 35%;
    }
    .room-text {
        width: 65%;
    }
    
    .room-image img {
        height: 19vh;
    }

    .card-body {
        height: 19vh;
    }
    .date-select{
        padding-left: 70px;
    }
    .search-btn {
        align-items: center;
        padding-left: 300px;
      }
}
@media only screen and (min-width: 1024px) {
    .Availability-search {
        background-color: #F4F4F4;
    }
    .room-image {
        width: 30%;
    }
    .room-text {
        width: 70%;
    }
    
    .room-image img {
        height: 17vh;
    }

    .card-body {
        height: 17vh;
    }

    .date-select{
        padding-left: 20%;
        /* padding-right: 15%; */
    }
}
@media only screen and (min-width: 1366px) {
    .Availability-search {
        background-color: #F4F4F4;
    }
    .room-image {
        width: 30%;
    }
    .room-text {
        width: 70%;
    }
    
    .room-image img {
        height: 55vh;
    }

    .card-body {
        height: 55vh;
    }

    .date-select{
        padding-left: 25%;
        /* padding-right: 15%; */
    }
    .search-btn {
        align-items: center;
        padding-right: 150px;
      }
}

@media only screen and (min-width: 1440px) {
    .Availability-search {
        background-color: #F4F4F4;
    }
    .room-image {
        width: 30%;
    }
    .room-text {
        width: 70%;
    }
    
    .room-image img {
        height: 15vh;
    }

    .card-body {
        height: 15vh;
    }
    .date-select{
        padding-left: 27%;
        /* padding-right: 15%; */
    }
    .search-btn {
        align-items: center;
        padding-right: 220px;
      }
}